/* Common settings */
* {
    box-sizing: border-box;
    font-family: 'Rubik';
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

:root {
    --orange-gradient: linear-gradient(141.63deg, #FF0909 -3.72%, #FF7B43 105.23%);
    --blue-gradient: linear-gradient(141.63deg, #0DA6FF -3.72%, rgba(107, 43, 255, 0.65) 105.23%);
    --app-width: 480px;
}

@media (max-width: 428px) {
    :root {
        --app-width: 100%;
    }
}

body {
    background-color: #3B3E47;
    color: white;
}
/* *** *** *** *** *** */

/* Background settings */
.game-container {
    position: relative;
    margin: 30px auto;
    max-width: var(--app-width);
    width: 100%;

    background-color: #161E29;
    border-radius: 20px;
    box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.4), 0px 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.game-container__background {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    filter: contrast(100%) saturate(0%) brightness(70%);
}

.game-container__background img {
    height: 800px;
    opacity: 0.1;
}

.game-container__background::before,
.game-container__background::after {
    position: absolute;
    content: "";

    width: 100%;
    height: 383px;
}

.game-container__background::before {
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(26, 34, 47, 0.4) 34.89%, rgba(26, 34, 47, 0) 100%);
}

.game-container__background::after {
    top: 550px;
    left: 0;
    background: linear-gradient(180deg, rgb(26, 34, 47) 34.89%, rgba(26, 34, 47, 0) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
/* *** *** *** *** *** */


.game-content {
    position: relative;
    z-index: 100;
    min-height: calc(100vh - 110px);
}

.game-wrapper {
    padding: 0 10px;

    margin-top: 45px;
}

/* Header settings */
.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    width: var(--app-width);

    background-color: #131A24;
    border-bottom: 1px solid #1C2431;

    justify-content: center;
    padding: 5px 0;

    z-index: 10;
}

.header-content__row {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}

.header-content__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 3px;
    gap: 3px;

    height: 20px;

    font-weight: 500;
    font-size: 13px;

    color: #bdc8e0;
    cursor: pointer;
    text-decoration: none;
}

.header-content__item img {
    height: 14px;
}

.header-content__row:not(:first-child) {
    margin-top: 4px;
}
/* *** *** *** *** *** */

/* Footer settings */
.footer {
    position: fixed;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: var(--app-width);
    background-color: #0B121D;
    box-shadow: 0 -10px 50px rgba(0, 0, 0, 0.35);

    display: flex;
    padding: 8px 10px 8px;
    z-index: 10;
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.footer-content__link {
    display: flex;
    flex: 16.6%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.footer-content__image-wrapper {
    width: 30px;
    height: 30px;

    background-color: #18212D;
    border: 1px solid #1C2431;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content__image-wrapper img {
    width: 100%;
    height: 100%;
}

.footer-content__label {
    font-weight: 300;
    font-size: 11px;
    line-height: 14px;

    color: #FFFFFF;
    margin-top: 3px;

    opacity: .5;
}

.footer-content__link.active .footer-content__label,
.footer-content__link:hover .footer-content__label {
    opacity: 1;
}
/* *** *** *** *** *** */

.game-title {
    margin: 20px 10px 10px;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;

    color: #D9D9D9;
}

/* Dialog tools setting */
.dialog-tools {
    margin: 15px 0 20px;
}

.dialog-tools__form {
    display: flex;
    flex-direction: column;
}

.dialog-tools__form textarea {
    background-color: #1A242E;
    border: 1px solid #1E3245;
    border-radius: 8px;

    padding: 20px;
    display: flex;
    align-items: flex-start;

    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 92px;

    outline: none;
}

.dialog-tools__form textarea::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    color: #8B94B5;
}

.dialog-tools__button {
    height: 42px;
    margin-top: 8px;
    border: none;
    outline: none;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #D3D3D3;
}

.dialog-tools__button img {
    margin-left: 8px;
}
/* *** *** *** *** *** */

/* Welcome setting */
.game-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 25px;
    padding: 0 15px;
    width: 100%;
}

.game-welcome__heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #D9D9D9;
}

.game-welcome__subheading {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 5px;

    background: linear-gradient(141.63deg, #FF0909 -3.72%, #FA540C 105.23%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.game-welcome__quests {
    position: relative;
}

.game-welcome__quests img {
    width: 36px;
    height: 36px;

    border: 1px solid #1E3245;
    border-radius: 4px;
}

.game-welcome__quest-counter {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 24px;
    height: 24px;

    background: linear-gradient(141.63deg, #FF0909 -3.72%, #FA540C 105.23%);
    border-radius: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-size: 11px;
    line-height: 14px;

    color: #FFFFFF;
}
/* *** *** *** *** *** */

/* Game navigation settings */
.game-navigation {
    margin-top: 30px;
}

.game-navigation__nickname {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    letter-spacing: 0.02em;

    color: #D9D9D9;
    text-align: center;
}

.game-navigation__container {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.game-navigation__avatar img {
    max-height: 330px;
    object-fit: contain;
    border: 1px solid #1E3245;
    border-radius: 8px;
    width: 100%;
}

.game-navigation__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.game-navigation__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.game-navigation__item img {
    width: 56px;
    height: 56px;
    border: 1px solid #2c79c3;
    border-radius: 8px;
}

.game-navigation__item-title {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;

    color: #8B94B5;
    margin-top: 5px;
    transition: .25s;
}

.game-navigation__item:hover .game-navigation__item-title {
    color: #FFFFFF;
}

.price-content {
    margin-top: 20px;
    padding: 0 5px;
}

.price-content__button {
    border: none;
    outline: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 52px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.01em;

    color: #FFFFFF;
    cursor: pointer;
}

.price-content__button img {
    margin-left: 12px;
}
/* *** *** *** *** *** */

/* Profile settings */
.profile {
    padding: 0 10px;
}

.profile__heading {
    display: flex;
    justify-content: space-between;
}

.profile__avatar,
.profile__pet-avatar {
    width: 189px;
    max-width: 285px;

    overflow: hidden;
}

.profile__avatar img,
.profile__pet-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #1E3245;
    border-radius: 8px;
}

.profile__items {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile__container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
    align-items: center;
    justify-content: center;
}

.profile__item {
    position: relative;
    flex: 1 1 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__item-content {
    position: relative;
}

.profile__item img {
    width: 50px;
    height: 50px;

    border: 1px solid #1E3245;
    border-radius: 8px;
}

.profile__item-counter {
    width: 28px;
    height: 28px;
    position: absolute;
    top: -10px;
    right: -10px;

    background: linear-gradient(141.63deg, #FF0909 -3.72%, #FA540C 105.23%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-size: 11px;
    line-height: 14px;

    color: #FFFFFF;
    z-index: 5;
}

.characteristic__container {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 0 10px;
}

.characteristic__item {
    display: flex;
    align-items: center;

    margin-bottom: 8px;
}

.characteristic__item img {
    width: 20px;
    height: 20px;
    object-fit: contain;

    margin-right: 16px;
}

.characteristic__item-content {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;

    color: #5F738D;
}

.characteristic__item-value {
    color: #FFFFFF;
}
/* *** *** *** *** *** */
